body
{
	color: #212529;
	font-weight: 400;
	background-color: #f8f9f8 !important;
}

.app {
    width: 100%;
    background-color: #f8f9f8 !important;
}

.zonaProcesando
{
	color: #ffdd00;/*#ffdd00;*/
}

.zonaConfirmarRecepcion
{
	color: #20347a;
}

/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
						C A B E C E R A
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
#logo {
	width:80px;
	margin-right:20px;
}

#cabeceraLogo
{
    margin: 18px 0 10px 12px;
    padding: 0;
    float: left;
    position: relative;
}

#cabeceraInfo
{
	float: right;
	position: relative;
	font-size: 11px;
	color: #8b999c;
	text-decoration: none;
	text-align: right;
	padding-right: 15px;
	padding-top: 45px;
}

#cabeceraTitulo
{
	color: #212529;
	font-size: 32px;
	text-decoration: none;
	font-weight: bold;
	text-align:center;
	padding-top: 25px;
}

#cabeceraFooter
{
	clear: both;
	height: 1px;
}

.header h1 {
	color:#fff!important
}

.header .header-container .nav-left > li > a, .header .header-container .nav-right > li > a {
 	color: #fff;
}

.header .header-container .nav-left > li > a:hover, .header .header-container .nav-left > li > a:focus, .header .header-container .nav-right > li > a:hover, .header .header-container .nav-right > li > a:focus {
    text-decoration: none;
    color: #ffdd00;
}

.header {
	background-color: #000; /*#dee2e6;*/
	border-bottom: 5px solid #ffdd00;
	box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

@media (max-width: 512px) {
	.nav-left {
		max-width: 40%;
	}

	.header h1 {
		font-size: 0.8em !important;
	}
}

@media (max-width: 400px) {
	.nav-left {
		max-width: 30%;
	}
}


@media (max-width: 350px) {
	.nav-left {
		display:none;
	}
}

/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
						N A V E G A D O R
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.navTituloSeccion
{
	background-color: #000;
	color: #ffdd00;
	border-bottom: 3px solid #ffdd00;
}

.navLink_seleccion
{
	background-color: #fff;
}
.navLink_seleccion a
{
	color: #000;
	font-weight: bold;
}

.navLink a:hover
{
	color: #000;
	font-weight: bold;
}


.loadLanguage.lang-selected {
    color: #ffdd00;
}

.header .header-container .nav-right.smallScreen .dropdown-menu {
	width: 250px;
}


.header .header-container .nav-right.smallScreen .dropdown-menu {
    top: 65px;
}

/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
						V I S T A
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.table {
    color: #424242;
}

.table-striped > tbody > tr > th {
    background-color: #000;
	color: #fff;
	padding-top: 10px;
    padding-bottom: 7px;
	border: 1px solid #000;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #fafafa;
}
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    line-height: 1.8;
    border-color: #f0f0f0;
}

tr.unread td a{
	color: #C6AB00;
	font-weight: bold;
}

/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
						N O T E S     V I E W     T A B L E
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.dataTables_wrapper .buttons-collection.dropdown-toggle {
	border:1px solid #d4deee;
}
#mainView_length select{
	height:35px !important;
}


/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
						S E L E C T     T A B L E
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
table.selectTable tr
{
	cursor: pointer;
}

.table-hover > tbody > tr:hover {
	background-color: #dbdada;
	color: #424242 !important;
    cursor: pointer;
    font-weight: bold;
}

.table-hover > tbody > tr:first-child:hover {
    background-color: #fbfcfd;
    color: inherit;
	cursor: inherit;
}

table.selectTable tr.filaOn td:not(.notFilaOn)
{
	background-color:#dbda;
	color: #424242 !important;
    cursor: pointer;
    font-weight: bold;
}


/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
						F O R M U L A R I O
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.taskLine {
    border-bottom: 3px solid #ffdd00;
    margin-bottom: 20px;
    padding-bottom: 8px;
    color: black;
}

/* Links de los Anexos */
a.linkDocAnexo:link {
	color: #ffdd00;
	text-decoration: none;
}
a.linkDocAnexo:active {
	color: #ffdd00;
	text-decoration: underline;
}
a.linkDocAnexo:visited {
	color: #ffdd00;
	text-decoration: none;
}
a.linkDocAnexo:hover {
	color: #ffdd00;
	text-decoration: underline;
}

/* Links de la lista de mensajes */
a.linkMensaje:link {
	color: #ffdd00;
	text-decoration: none;
}
a.linkMensaje:active {
	color: #ffdd00;
	text-decoration: underline;
}
a.linkMensaje:visited {
	color: #ffdd00;
	text-decoration: none;
}
a.linkMensaje:hover {
	color: #ffdd00;
	text-decoration: underline;
}

/* Links de la lista de subtareas */
a.linkSubtarea:link {
	color: #ffdd00;
	text-decoration: none;
}
a.linkSubtarea:active {
	color: #ffdd00;
	text-decoration: underline;
}
a.linkSubtarea:visited {
	color: #ffdd00;
	text-decoration: none;
}
a.linkSubtarea:hover {
	color: #ffdd00;
	text-decoration: underline;
}

.btn-default {
    color: #fff !important;
    background-color: #000;
    border-color: #000;
    font-weight: 500;
    border: 1px solid #fff;
}

.btn-default:hover {
    color: #ffdd00 !important;
    background-color: #333;
    font-weight: 500;
    border: 1px solid #fff;
}

.btn-group > .btn:not(:last-child):not(.dropdown-toggle), .btn-group > .btn-group:not(:last-child) > .btn {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 1px solid #fff !important;
}


.tab-info .nav-tabs > li > a {
    border-bottom: 2px solid #333;
}

.nav-tabs > li > a.nav-link {
    border-bottom: none;
    color: #333;
    background-color: transparent;
}

.tab-info .nav-tabs > li > a.active {
    border-bottom: 2px solid #ffdd00 !important;
}

.nav-tabs > li > a.active.nav-link {
    border-bottom: 2px solid #ffdd00;
    color: #333;
	font-weight: bold;
    background-color: transparent;
}

.dropdown-item {
    color: #424242;
}


/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
						M E N S A J E S
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
a.addFileUpload:link {
	color: #ffdd00;
	text-decoration: none;
}
a.addFileUpload:active {
	color: #ffdd00;
	text-decoration: none;
}
a.addFileUpload:visited {
	color: #ffdd00;
	text-decoration: none;
}
a.addFileUpload:hover {
	color: #ffdd00;
	text-decoration: underline;
}


/*
LISTADO ANEXOS
*/
.documentStatus {
    color: #ff5722;
}


/** Mensajes de alerta **/
.noty_type_error { background-color: #ff5722; color: #ffffff; }
.noty_type_success { background-color: #ffdd00; color: #ffffff; }

 #noty_topRight_layout_container, #noty_topLeft_layout_container {
    top: 10px !important;
}

.text-info {
		color: #ffdd00 !important;
}

.btn-info:not(:disabled):not(.disabled):active, .btn-info:not(:disabled):not(.disabled).active, .show > .btn-info.dropdown-toggle {
    color: #fff;
    background-color: #0d8ad6;
    border-color: #0d8ad6;
}

.btn-info {
    background-color: #ffdd00;
    border-color: #ffdd00;
    color: #ffffff;
}

.btn-danger {
    color: #ffffff;
    background-color: #ff5722;
    border-color: #ff5722;
}

.btn-danger:hover, .btn-danger:focus {
    color: #ffffff;
    background-color: #ff764b;
    border-color: #ff764b;
}

.document-navigator {
	background-color:#fbfcff;
	border-radius:5px;
}
.document-navigator i {
	cursor:pointer;
	color:#ffdd00;
}

.document-navigator i.navigator-disabled{
	cursor:not-allowed;
	color:lightgrey;
}

.dynamic-datatable tbody a {
	color: #5c5d5c;
}

.dynamic-datatable tbody a:hover {
	color: #ffffff;
}

.dynamic-datatable tbody tr:hover, .dynamic-datatable tbody tr:hover a {
    background-color: #ffdd00;
    color: #ffffff !important;
    cursor: pointer; 
}

.page-link {
	color: #515365 !important;
}

.page-item.active .page-link {
    background-color: #000;
    border-color: #000;
    color: #fff !important;
}

.buttons-collection{
	background-color: #000;
	color:#fff;
	border: none;
}
.buttons-collection:hover{
	background-color: #333;
	color:#ffdd00;
	border: none;
}


.selectize-control.multi .selectize-input [data-value].disabled-option {
	background-color: #FF9675;
  	color: /*#ff5722*/#AA2900;
	font-weight: 500;
}

.selectize-control.plugin-remove_button [data-value].disabled-option {
	color: #ff5722;
}

.documentStatusTitle {
	color: rgb(234, 124, 0);
}

.form-fieldset, fieldset {
	background-color: #f8f9f8;
	margin: 0px;
    padding: 20px;
    margin-bottom: 20px;
	border-radius: 0.25rem;
}

.table > thead > tr > th {
    color: white;
    background-color: #000;
}

.dynamic-datatable tbody tr:hover, .dynamic-datatable tbody tr:hover a {
    background-color: #dbdada;
    color: #424242 !important;
    cursor: pointer;
    font-weight: bold;
}

table.dataTable thead .sorting:before, table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:before, table.dataTable thead .sorting_desc_disabled:after {
    position: absolute;
    bottom: 0.9em;
    display: block;
    opacity: 1 !important;
}

.btn-secondary:hover {
    color: #ffdd00;
    background-color: #333;
    border-color: #333;
}

.loading:not(:required):after {
    -webkit-box-shadow: #ffdd00 1.5em 0 0 0, #ffdd00 1.1em 1.1em 0 0, #ffdd00 0 1.5em 0 0, #ffdd00 -1.1em 1.1em 0 0, #ffdd00 -1.5em 0 0 0, #ffdd00 -1.1em -1.1em 0 0, #ffdd00 0 -1.5em 0 0, #ffdd00 1.1em -1.1em 0 0;
    box-shadow: #ffdd00 1.5em 0 0 0, #ffdd00 1.1em 1.1em 0 0, #ffdd00 0 1.5em 0 0, #ffdd00 -1.1em 1.1em 0 0, #ffdd00 -1.5em 0 0 0, #ffdd00 -1.1em -1.1em 0 0, #ffdd00 0 -1.5em 0 0, #ffdd00 1.1em -1.1em 0 0;
}

.btn, .panel-collapse {
	border-radius: 0.25rem !important;
}

.table-striped > tbody > tr:first-of-type > th:first-of-type{
	border-top-left-radius: 0.25rem !important;
}
.table-striped > tbody > tr:first-of-type > th:last-of-type {
	border-top-right-radius: 0.25rem !important;
}


/* CATALOGO */
#catalogo .card-media {
    position: relative;
    height: 260px;
    overflow-y: hidden;
	border-bottom: 2px solid #e6ecf5;
	text-align:center;
	overflow-x: hidden;
}

.catalogo-imagen {
	object-fit: fill;
	height: 100%;
	width: auto !important;
}
.catalogo-item .card-block {
	padding: 10px 20px;
	height: 4.5rem;
}

.catalogo-item .card-block-catalogo {
	padding: 10px 20px;
	height: 6rem;
}

.catalog-iva {
	font-size: x-small;
	color: lightgray;
}

.catalogo-item .card-footer{
	padding:0;
	min-height: 0;
	background-color: black;
	border-color: black;
	border-top: 3px solid #ffdd00;
}

.btn-detalle{
	border-top-right-radius: 0px !important;
	border-top-left-radius: 0px !important;
	width: 100% !important;
	border-color: black;
}
.btn-detalle:hover{
	border-color:#424242;
}

/* FIN CATALOGO */
/* FICHA */
.anexos-ficha img.img-fluid-custom{
	height:80px;
}

.ficha-producto .card-media {
	text-align: center;
	overflow: hidden;
}
.ficha-producto .card-media .img-responsive {
	object-fit: fill;
	height: 100%;
	width: auto !important;
	max-height: 500px;
	
}
/* FIN FICHA */

/* CESTA */
.small-label {
	font-size: smaller;
}

.titulo-cesta{
	color: black;
	border-bottom: 1px solid #ffdd00 !important;
}

.cesta-imagen{
	width:auto;
	max-height: 100px;
}

.cesta-item {
	padding-bottom: 5px;
	border-bottom: 1px solid #eee;
}

#contenido-cesta {
	height: 100%;
	max-height: calc(100% - 275px);
	overflow-y: auto;
	overflow-x: hidden;
}


.cesta-footer{
	background-color: #fff;
	padding-right: 0;
	padding-left: 0;
	display: inline-block;
}

#btnSeguirComprando{
	left: -20px;
}

.btn-yellow {
	background-color: #ffdd00;
    color: #424242;
    border-color: #ffdd00;
    font-weight: bold;
	border-radius: 0.25rem !important;
}

.cart-counter{ 
	position: absolute;

    background-color: #ff3c7e;
	background-color: #dc3545;
    color: #ffffff;
    padding: 3px 5.5px;
    border-radius: 50px;
    line-height: 1;
    font-size: 13px;

    bottom: 10;
    bottom: 55;
    right: 5;
}

.cesta-item.hidden-item {
    transform: scaleY(0);
    transition: transform 400ms ease 0ms;
}

.stock-insuficiente{
	border: 1px solid #dc3545;
}

/* FIN CESTA */

/* MODALES DRIVER */

.modal-driver .modal-header{
	background-color: black;
	border-bottom: 3px solid #ffdd00 !important;
}

.modal-driver .modal-header .close{
	color: #fff !important;
}

.modal-driver .modal-header h5{
	color: #fff;
}

.modal-driver .modal-footer {
	padding: 5px 10px;
}
/* FIN MODALES DRIVER */
.text-danger {
    color: #dc3545 !important;
}

.fixModal {
    padding-right: 0 !important;
    margin-right: 0 !important;
}

.noty_type_error {
	background-color: #dc3545 !important;
}

.noty_type_success {
	color: #424242;
}

.selectize-control.multi .selectize-input [data-value] {
    background-color: #FFDD00 !important;
    color: #424242 !important;
}

#listado-productos .embededView{
	overflow-x: hidden;
}

.card-header {
	background-color: black;
	border-bottom: 3px solid #ffdd00 !important;
    color: #fff;
	font-size: x-large;
	text-align: center;
	font-weight: bold;
}