body
{
	color: #212529;
	font-weight: 400;
	background-color: #f8f9fa !important;
}

.app {
    width: 100%;
    background-color: #f8f9fa !important;
}

.zonaProcesando
{
	color: #00529f;
}

.zonaConfirmarRecepcion
{
	color: #20347a;
}

/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
						C A B E C E R A
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
#logo {
	width:80px;
	margin-right:20px;
}

#cabeceraLogo
{
    margin: 18px 0 10px 12px;
    padding: 0;
    float: left;
    position: relative;
}

#cabeceraInfo
{
	float: right;
	position: relative;
	font-size: 11px;
	color: #8b999c;
	text-decoration: none;
	text-align: right;
	padding-right: 15px;
	padding-top: 45px;
}

#cabeceraTitulo
{
	color: #212529;
	font-size: 32px;
	text-decoration: none;
	font-weight: bold;
	text-align:center;
	padding-top: 25px;
}

#cabeceraFooter
{
	clear: both;
	height: 1px;
}

.header h1 {
	color:#003e79!important
}

.header .header-container .nav-left > li > a, .header .header-container .nav-right > li > a {
 	color: #00529f;
}

.header .header-container .nav-left > li > a:hover, .header .header-container .nav-left > li > a:focus, .header .header-container .nav-right > li > a:hover, .header .header-container .nav-right > li > a:focus {
    text-decoration: none;
    color: #00529f;
}

.header {
	background-color: #fff; /*#dee2e6;*/
	border-bottom: 0px solid #00529f;
	box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

@media (max-width: 512px) {
	.nav-left {
		max-width: 40%;
	}

	.header h1 {
		font-size: 0.8em !important;
	}
}

@media (max-width: 400px) {
	.nav-left {
		max-width: 30%;
	}
}


@media (max-width: 350px) {
	.nav-left {
		display:none;
	}
}

/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
						N A V E G A D O R
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.navTituloSeccion
{
	background-color: #00529f;
}

.navLink_seleccion a
{
	color: #00529f;
	font-weight: bold;
}

.loadLanguage.lang-selected {
    color: #00529f;
}

.header .header-container .nav-right.smallScreen .dropdown-menu {
	width: 250px;
}


.header .header-container .nav-right.smallScreen .dropdown-menu {
    top: 65px;
}

/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
						V I S T A
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.table {
    color: #00529f;
}

/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
						N O T E S     V I E W     T A B L E
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.dataTables_wrapper .buttons-collection.dropdown-toggle {
	border:1px solid #d4deee;
}
#mainView_length select{
	height:35px !important;
}


/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
						S E L E C T     T A B L E
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
table.selectTable tr
{
	cursor: pointer;
}

.table-hover > tbody > tr:hover {
	background-color: rgb(234, 124, 0);
	color: #ffffff;
	cursor: pointer;
}

.table-hover > tbody > tr:first-child:hover {
    background-color: #fbfcfd;
    color: inherit;
	cursor: inherit;
}

table.selectTable tr.filaOn td:not(.notFilaOn)
{
	background-color:rgb(234, 124, 0);
	color: #ffffff;
}


/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
						F O R M U L A R I O
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/* Links de los Anexos */
a.linkDocAnexo:link {
	color: #00529f;
	text-decoration: none;
}
a.linkDocAnexo:active {
	color: #00529f;
	text-decoration: underline;
}
a.linkDocAnexo:visited {
	color: #00529f;
	text-decoration: none;
}
a.linkDocAnexo:hover {
	color: #00529f;
	text-decoration: underline;
}

/* Links de la lista de mensajes */
a.linkMensaje:link {
	color: #00529f;
	text-decoration: none;
}
a.linkMensaje:active {
	color: #00529f;
	text-decoration: underline;
}
a.linkMensaje:visited {
	color: #00529f;
	text-decoration: none;
}
a.linkMensaje:hover {
	color: #00529f;
	text-decoration: underline;
}

/* Links de la lista de subtareas */
a.linkSubtarea:link {
	color: #00529f;
	text-decoration: none;
}
a.linkSubtarea:active {
	color: #00529f;
	text-decoration: underline;
}
a.linkSubtarea:visited {
	color: #00529f;
	text-decoration: none;
}
a.linkSubtarea:hover {
	color: #00529f;
	text-decoration: underline;
}

/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
						M E N S A J E S
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
a.addFileUpload:link {
	color: #00529f;
	text-decoration: none;
}
a.addFileUpload:active {
	color: #00529f;
	text-decoration: none;
}
a.addFileUpload:visited {
	color: #00529f;
	text-decoration: none;
}
a.addFileUpload:hover {
	color: #00529f;
	text-decoration: underline;
}


/*
LISTADO ANEXOS
*/
.documentStatus {
    color: #ff5722;
}


/** Mensajes de alerta **/
.noty_type_error { background-color: #ff5722; color: #ffffff; }
.noty_type_success { background-color: #00529f; color: #ffffff; }

 #noty_topRight_layout_container, #noty_topLeft_layout_container {
    top: 10px !important;
}

.text-info {
		color: #00529f !important;
}

.btn-info:not(:disabled):not(.disabled):active, .btn-info:not(:disabled):not(.disabled).active, .show > .btn-info.dropdown-toggle {
    color: #fff;
    background-color: #0d8ad6;
    border-color: #0d8ad6;
}

.btn-info {
    background-color: #00529f;
    border-color: #00529f;
    color: #ffffff;
}

.btn-danger {
    color: #ffffff;
    background-color: #ff5722;
    border-color: #ff5722;
}

.btn-danger:hover, .btn-danger:focus {
    color: #ffffff;
    background-color: #ff764b;
    border-color: #ff764b;
}

.document-navigator {
	background-color:#fbfcff;
	border-radius:5px;
}
.document-navigator i {
	cursor:pointer;
	color:#00529f;
}

.document-navigator i.navigator-disabled{
	cursor:not-allowed;
	color:lightgrey;
}

.dynamic-datatable tbody a {
	color: #5c5d5c;
}

.dynamic-datatable tbody a:hover {
	color: #ffffff;
}

.dynamic-datatable tbody tr:hover, .dynamic-datatable tbody tr:hover a {
    background-color: #00529f;
    color: #ffffff !important;
    cursor: pointer; 
}

.page-link {
	color: #515365 !important;
}

.page-item.active .page-link {
    background-color: #00529f;
    border-color: #00529f;
    color: #ffffff !important;
}

.buttons-collection{
	background-color: #ffffff;
	color:#00529f;
	border:none;
}


.selectize-control.multi .selectize-input [data-value].disabled-option {
	background-color: #FF9675;
  	color: /*#ff5722*/#AA2900;
	font-weight: 500;
}

.selectize-control.plugin-remove_button [data-value].disabled-option {
	color: #ff5722;
}

.documentStatusTitle {
	color: rgb(234, 124, 0);
}

.form-fieldset, fieldset {
	background-color: #f6f7fb;
	margin: 0px;
    padding: 20px;
    margin-bottom: 20px;
}

.table > thead > tr > th {
    color: white;
    background-color: #00529f;
}

.dynamic-datatable tbody tr:hover, .dynamic-datatable tbody tr:hover a {
    background-color: #e6ecf5;
    color: #5c5d5c !important;
    cursor: pointer;
    font-weight: bold;
}

.btn-secondary:hover {
    color: #fff;
    background-color: #00529f;
    border-color: #00529f;
}

.loading:not(:required):after {
    -webkit-box-shadow: #00529f 1.5em 0 0 0, #00529f 1.1em 1.1em 0 0, #00529f 0 1.5em 0 0, #00529f -1.1em 1.1em 0 0, #00529f -1.5em 0 0 0, #00529f -1.1em -1.1em 0 0, #00529f 0 -1.5em 0 0, #00529f 1.1em -1.1em 0 0;
    box-shadow: #00529f 1.5em 0 0 0, #00529f 1.1em 1.1em 0 0, #00529f 0 1.5em 0 0, #00529f -1.1em 1.1em 0 0, #00529f -1.5em 0 0 0, #00529f -1.1em -1.1em 0 0, #00529f 0 -1.5em 0 0, #00529f 1.1em -1.1em 0 0;
}