body
{
	color: #5c5d5c;
	font-weight: 400;
}

.custom-file-control:disabled, .custom-file-control[readonly], .form-control:disabled, .form-control[readonly] {
    background-color: #ffffff;
    font-weight: 300;
	border: 0;
    padding: 0;
    margin: 0;
}

iframe {
	width: 100%;
}

@media (min-width: 992px) {
	.modal-lg {
		max-width: 950px;
	}
 .modal-xl {
		max-width: 95%;
	}
}

.clear
{
	clear:both;
	height:1px;
	overflow:hidden;
	font-size:1px;
	margin:0;
	padding:0;
 }

/** CHARTS **/
.chart {
	height: 450px;
	width: 100%;
}

.longchart {
	height: 450px;
	width: 100%;
}

@media (max-width: 992px) {
	.longchart {
		height: 600px;
		width: 100%;
	}
}

#discrete-bar-chart {
	height: 450px !important;
}

#discrete-bar-chart .nvd3 text {
    font-size: xx-small;
}
/** FIN CHARTS **/

/* Para las celdas que definen el tamaño de las tablas */
.celdaTamanyo
{
	font-size: 1px;
}

.hiddenElement
{
	display: none;
}

.showElement
{
	display: inline;
}

.indicadorEliminarAnexo
{
	color: #00cc33;
	font-size: 13px;
	font-weight: bold;
	margin-right: 2px;
}

.avisoCampos
{
	margin-right: 2px;
	font-size: 10px;
	vertical-align: middle;
}

.button
{
	font-size: 11px;
	margin-top: 3px;
	margin-bottom: 3px;
	margin-right: 3px;
	cursor: pointer;
	padding:0 .25em 0 .25em;
	width:auto;
	overflow:visible;
}


.icoButton
{
	cursor:pointer;
	margin-left: 2px;
	vertical-align:bottom;
}

.icoAnexar, .icoMensaje, .icoAnexarST, .icoMensajeST
{
	cursor:pointer;
	vertical-align:middle;
}

/*.campo
{
	font-size: 11px;
	color: #000000;
	padding-left: 2px;
	padding-right: 2px;
}*/

.imgError
{
	display: none;
	margin-right: 2px;
	color:#ffdd00;
}

/* Para los mensajes en la barra de acciones (Disponibilidad del ingrediente, Versión de la formulación, ...)*/
.textoBarraAcciones
{
	font-family: Arial;
	font-size: x-small;
	font-style: normal;
	font-weight: bold;
	background-color: transparent;
	border: none;
	color: black;
}


/* Botón "Examinar" y campo asociado para anexar documentos */
.fileUpload
{
	font-weight: normal;
}

.zonaProcesando
{
	font-size: 36px;
	font-weight: bold;
	text-align: center;
	color: #ff6500;
	padding-top: 150px;
}

.zonaConfirmarRecepcion
{
	font-size: 18px;
	text-align: center;
	color: #20347a;
	padding: 15px;
}

/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
						C A B E C E R A
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
#logo{
	width:80px;
	margin-right:20px;
}

#cabeceraLogo
{
	margin: 10px 0 10px 12px;
	padding:0;
	float: left;
	position: relative;
}

#cabeceraInfo
{
	float: right;
	position: relative;
	font-size: 11px;
	color: #8b999c;
	text-decoration: none;
	text-align: right;
	padding-right: 15px;
	padding-top: 45px;
}

#cabeceraTitulo
{
	color: #4a4a4a;
	font-size: 32px;
	text-decoration: none;
	font-weight: bold;
	text-align:center;
	padding-top: 25px;
}

#cabeceraFooter
{
	clear: both;
	height: 1px;
}
@media (max-width: 512px) {
	.nav-left {
		max-width: 40%;
	}

	.header h1 {
		font-size: 0.8em !important;
	}
}

@media (max-width: 400px) {
	.nav-left {
		max-width: 30%;
	}
}


@media (max-width: 350px) {
	.nav-left {
		display:none;
	}
}

/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
						N A V E G A D O R
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
#tblNavegador
{
	border-right: 1px solid #a8abad;
	border-bottom: 1px solid #a8abad;
	border-left: 1px solid #a8abad;
	width: 99%;
	background-color: #f7f7f7;
	margin-left:5px;
}

.navTituloSeccion
{
	font-weight: bold;
	color: white;
	text-align: left;
	margin-top: -10px;
	background-color: #5c5d5c;
	padding: 3px 0px 3px 20px;
	margin-left: 0px !important;
}

.navTituloSeccionClick
{
	font-weight: bold;
	color: #5d5e5f;
	text-align: left;
	margin-top: 15px;
	border-top: 1px solid #A8ABAD;
	border-bottom: 1px solid #A8ABAD;
	background-color: #eeeeee;
	padding: 3px 0 3px 5px;
	cursor:pointer;

}

.navTituloNivel1Click
{
	display:block;
	font-weight: bold;
	color: #20347a;
	border-bottom: 1px solid #a8abad;
	border-top: 1px solid #a8abad;
	padding-left: 15px;
	cursor:pointer;
}

.navLink a
{
	font-weight:normal;
	color: #2f2e2e;
}

.navLink a:hover
{
	text-decoration: none;
	background-color: #ffffff;
	color: #2f2e2e;
}

.navLink_seleccion a
{
	color: #ff6500;
}

.loadLanguage.lang-selected {
    color: #ff6500;
    font-weight: bold;
}

ul#lang-selector-sm {
    height: fit-content;
	width: fit-content;
}

.smallScreen {
	display:none;
}

.header .header-container .nav-right.smallScreen .dropdown-menu {
	width: 250px;
}

@media (max-width: 800px) {
	.smallScreen {
		display: block;
	}

	.bigScreen {
		display:none;
	}
}

.overflow-scroll-y {
	overflow-y: auto;
}

.header .header-container .nav-right.smallScreen .dropdown-menu {
    top: 65px;
}

@media (max-width: 800px) {
	.tab-text {
		display: none;
	}
}

/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
						V I S T A
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.table {
    color: #5c5d5c;
}

#vistaAcciones {
    display: table;
   	width:100%;
	margin-top:40px;
	margin-bottom: 40px;
	padding-right:15px;
}

#vistaAccionesBusqueda{
	float:right !important;
}

#embedView h2 {
	font-size: 1em;
}

/* iconos de acciones de las vistas */
.icoViewAction
{
	cursor:pointer;
	vertical-align:middle;
	margin-right: 2px;
}
.icoViewActionDisabled
{
	cursor:normal;
	vertical-align:middle;
	margin-right: 2px;
}

#embedView
{
	visibility: visible;
	width: 100%;
	position: initial;
	margin-top: 2px;
}

.noDocumentsFound
{
	font-weight: bold;
	color: #5d5e5f;
	padding-top: 10px;
}

.textoBuscadoFTSearch
{
	background-color: #ffff88;
}


/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
						N O T E S     V I E W     T A B L E
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
table.notesVieww
{
	width: 100%;
	text-decoration: none;
	background-color: #f5f5f5;
	cursor:default;
	border-collapse:collapse;
	border-spacing: 0px;
	color:#000000;

}
table.notesVieww tr.alternateRow
{
	background-color:#f7f7f7;
}
table.notesVieww thead tr th, table.notesVieww tr th
{
	font-size: 11px;
	color: #5d5e5f;
	vertical-align: bottom;
	padding-left: 5px;
	cursor: default;
	border: 1px solid;
	border-color: #dedede;
	background-color: #E7EBEB;

}
table.notesVieww tbody tr td, table.notesVieww tr td
{
	font-size: 11px;
	text-decoration: none;
	border: 1px solid #dedede;
	padding-left: 5px;
	white-space:normal;
}

input[type="checkbox"][name="cb_view"], input[type="checkbox"][name="cb_viewTitle"]{
	margin-top:10px;
	width:16px;
	height: 16px;
}
input[type="checkbox"][name="cb_viewTitle"] {
	margin-top: 5px;
}

input.d-inline{
	height:40px;
}

.dataTables_wrapper .buttons-collection.dropdown-toggle{
	border:1px solid #d4deee;
}
#mainView_length select{
	height:35px !important;
}
.dt-control-cell{
	text-align:center;
	vertical-align: middle !important;
}

@media (max-width: 600px) {
	.container-fluid {
		padding-left:0;
		padding-right:0;
	}
	.container-fluid .card-block {
		padding-left:10px;
		padding-right:10px;
	}
	.dataTables_length{
		margin-bottom:20px !important;
	}


}

/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
						S E L E C T     T A B L E
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
table.selectTable tr
{
	cursor: pointer;
}

.table-hover > tbody > tr:hover {
	background-color: rgb(234, 124, 0);
	color: #ffffff;
	cursor: pointer;
}

.table-hover > tbody > tr:first-child:hover {
    background-color: #fbfcfd;
    color: inherit;
	cursor: inherit;
}

table.selectTable tr.filaOn td:not(.notFilaOn)
{
	background-color:rgb(234, 124, 0);
	color: #ffffff;
}


/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
						F O R M U L A R I O
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
#helpzoneAction {
	font-size: 30px;
}

#helpZoneContent {
    padding-bottom: 100px;
}

#helpzoneContent.main-content {
    min-height: 450px;
}

#helpzone {
	min-height:50px;
}

.helpzone-incard{
	background-color:#f6f7fb;
	border-top-left-radius: 5px;
	border: 1px solid #e6ecf5;
	border-bottom:none;
}

#formDatos #datos {
	background-color: white;
}

.formDatos {
	height: 100%;
}

#formDatos .main-content {
	padding-top: 50px;
}

#formDatos .bigicon {
	text-align: center;
	font-size: 150px;
}


#formdata-container {
	margin: 10px 0;
}

/* Titulo del formulario y de la vista*/
#formTitulo
{
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	color: #5d5e5f;
	border: 1px solid #a8abad;
	padding-top: 5px;
	padding-bottom: 5px;
	margin: 5px 0;
}

#formAcciones
{
	margin-top: 3px;
	margin-bottom: 3px;
}
#formAccionesTop {
	margin-bottom: 10px;
}

#formAccionesBottom {
	margin-top: 10px;
}

/* Tablas que forman los datos del formulario */
.formTablaDatos
{
/*	margin-bottom: 15px; */
	margin-top: 5px;
	width: 100%;
}


.celdaCampoLecturaLong{
	word-wrap: break-word;
	max-width: 300px;
}

/* Titulos de las secciones de datos de los formularios */
.formTituloSeccion
{
	font-size: 14px;
	font-weight: normal;
	text-align: left;
}

.separadorTituloSeccion
{
	height: 5px;
}

.estado
{
	font-size: 14px;
	text-align: right;
	font-weight: bold;
	padding-right: 10px;
}

.tablaZonaEstado{
	width:100%!important;
	/*border:1px solid red;*/
}

.rtfLectura
{
	padding: 3px 5px 1px 0px;
	font-size: 4px;
	color: #000000;
}

.messageIcon, .messageIcon-sm{
	font-size:24pt;
	color:#ffdd00;
	margin-right:5px;
}

.messageIcon-sm{
	font-size:12pt;
}

.error-field {
	border: 1px solid #ff5722;
}
.error-field-msg {
	color: #ff5722;
}

.indicadorRequired
{
	color: #ff5722;
	font-size: 8px;
	margin-right: 4px;
}

.indicadorRequiredRechazar
{
	color: #0000cc;
	font-size: 13px;
	font-weight: bold;
	margin-right: 2px;
}

.avisoRequired
{
	font-size: 11px;
	color: #000000;
	font-weight: normal;
	margin-right: 2px;
}

.tituloAvisoRequired
{
	font-size: 11px;
	font-weight: bold;
	text-decoration: underline;
	margin-right: 2px;
}

table.tableHistorico
{
	width: 96%;
	margin-top:10px;
	margin-left:10px;
}
table.tableHistorico tr
{
	vertical-align:top;
}


.icoEditAnexo, .icoVerComentariosAnexo
{
	cursor:pointer;
	vertical-align:middle;
	margin-left: 3px;
}

.icoExtensionAnexo
{
	vertical-align:middle;
	margin-right: 3px;
}

/* Links de los Anexos */
a.linkDocAnexo:link {
	color: #ff6500;
	text-decoration: none;
}
a.linkDocAnexo:active {
	color: #ff6500;
	text-decoration: underline;
}
a.linkDocAnexo:visited {
	color: #ff6500;
	text-decoration: none;
}
a.linkDocAnexo:hover {
	color: #ff6500;
	text-decoration: underline;
}

/* Links de la lista de mensajes */
a.linkMensaje:link {
	color: #ff6500;
	text-decoration: none;
}
a.linkMensaje:active {
	color: #ff6500;
	text-decoration: underline;
}
a.linkMensaje:visited {
	color: #ff6500;
	text-decoration: none;
}
a.linkMensaje:hover {
	color: #ff6500;
	text-decoration: underline;
}

/* Links de la lista de subtareas */
a.linkSubtarea:link {
	color: #ff6500;
	text-decoration: none;
}
a.linkSubtarea:active {
	color: #ff6500;
	text-decoration: underline;
}
a.linkSubtarea:visited {
	color: #ff6500;
	text-decoration: none;
}
a.linkSubtarea:hover {
	color: #ff6500;
	text-decoration: underline;
}

/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
						U I - D I A L O G
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*.alert
{
	font-size: 11px;
	color: #000000;
}

.alertTitle
{
	font-size: 11px;
	font-weight: bold;
	color: #000000;
}*/

/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
						A D D R E S S     B O X
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.formTablaDatosAddressBox
{
	margin:5px;
	width: 96%;
}

/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
						M E N S A J E S
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
a.addFileUpload:link {
	color: #0000ff;
	text-decoration: none;
}
a.addFileUpload:active {
	color: #0000ff;
	text-decoration: none;
}
a.addFileUpload:visited {
	color: #0000ff;
	text-decoration: none;
}
a.addFileUpload:hover {
	color: #0000ff;
	text-decoration: underline;
}

/* PRUEBA YAM ESTILOS PARA LOS LINKS DE VINCULACION A SIS */
a.VincSI:link {
	color: #ff6500;
	text-decoration: none;
}
a.VincSI:active {
	color: #ff6500;
	text-decoration: none;
}
a.VincSI:visited {
	color: #ff6500;
	text-decoration: none;
}
a.VincSI:hover {
	color: #ff6500;
	text-decoration: underline;
}

/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
Estilos para las evolución/estrategias intranet
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.tabla_acum
{
background-color:#cccccc;
	}
.tabla_acum_title
{
	font-size:10px;
	font-weight:bold;
	color:#ff6500;
	text-align: right;
	padding-right: 5px;
}
.tabla_acum_previsto_title
{
	font-size:10px;
	font-weight:bold;
	color:#333399;
	text-align: right;
	padding-right: 5px;
}
.tabla_acum_porcent
{
	font-size:9px;
	font-weight:bold;
	color:#ff6500;
	text-align: center;
}
.tabla_acum_porcent_mas100
{
	font-size:15px;
	font-weight:bold;
	color:#009933;
	text-align: center;
}

/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
						U I - B L O C K
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
div.blockMsg
{
	top: 40%;
	left: 40%;
	padding: 5px;
	background-color: #ffffff;
	color: #000000;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
div.blockMsgOLD
{
	top: 40%;
	left: 40%;
	padding: 15px;
	background-color: #ffffff;
	color: #000000;
	border: 1px solid #00ff00;
	border-radius:10px 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}


/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
				T A B L A     P R I O R I D A D E S
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
table.tablaPrioridadST {
text-align: center;
width: 60%;
}

table.tablaPrioridadST tbody tr td {
width: 16.66%;
border:"1px solid blue";
text-align:center;
}

table.tablaPrioridadST tbody tr.labelPrioridadST {
font-size: 9px;
}

/*-----------------------------------
DatePicker
------------------------------------*/

.datePickerOpener img{
	cursor:pointer;
	margin-bottom:-5px;
}

/*--------------------
---------*/
.acSobreSeleccionados {

	font-size:11px !important;
}


/* LOADER */
/* Absolute Center Spinner */
.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
    background: radial-gradient(rgba(255, 20, 20,1), rgba(0, 0, 0, 1));

  background: -webkit-radial-gradient(rgba(255, 255, 255,1), rgba(255, 255, 255,1));
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: #ea7c00 1.5em 0 0 0, #ea7c00 1.1em 1.1em 0 0, #ea7c00 0 1.5em 0 0, #ea7c00 -1.1em 1.1em 0 0, #ea7c00 -1.5em 0 0 0, #ea7c00 -1.1em -1.1em 0 0, #ea7c00 0 -1.5em 0 0, #ea7c00 1.1em -1.1em 0 0;
box-shadow: #ea7c00 1.5em 0 0 0, #ea7c00 1.1em 1.1em 0 0, #ea7c00 0 1.5em 0 0, #ea7c00 -1.1em 1.1em 0 0, #ea7c00 -1.5em 0 0 0, #ea7c00 -1.1em -1.1em 0 0, #ea7c00 0 -1.5em 0 0, #ea7c00 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*
HISTORIAL
*/

.bloque-historial h4{
	font-size:14px;
}

.card-historial{
	height:calc(100% - 40px);
	overflow-y:scroll;
	max-height:300px;
}


.entrada-historial{
	margin-bottom:20px;
}

.entrada-historial p{
	margin-bottom:0;
}

.accion-usuario, .accion-historial{
	font-weight: bold;
}

.accion-fechaHora{
	color:#aaa;
}


/*
ANEXOS - UPLOAD
*/
.spFileUpload input{
	background: #fff;
    border: 1px solid #eee;
    border-radius: 5px;
    color: #455a64;
    font-size: 12px;
    margin: 0;
    padding: 30px 20px;
    text-align: center;
    -webkit-transition: background .15s linear,border .15s linear,color .15s linear,opacity .15s linear;
    transition: background .15s linear,border .15s linear,color .15s linear,opacity .15s linear;
    width:100%;

}
.spFileUpload img {
	display:none;
}

#file-loading, #file-loaded{
	position:absolute;
	top: 42px;
	right:22px;
}

#file-name {
	width:100px;
}

.delete-an{
	color:#aaa;
	font-style: italic;
	cursor:pointer;
}

/*
LISTADO ANEXOS
*/
.bloque-anexos h4{
	font-size:14px;
}

.bloque-anexos .an-card-content a{
	text-decoration: underline;
}

.documentStatus {
	border-bottom: 1px solid lightgrey;
    text-align: right;
    color: #ff5722;
    margin-top: -40px;
    margin-bottom: 20px;
}

#tmpList {
	width:100%;
}

#searchform label[class*="bmd-label"],#advSearchContent label[class*="bmd-label"]
{
	left: 15px !important;
}

.datepicker-dropdown {
    transform: scale(1) !important;
	opacity: 1;
}

.borderblock {
	border-bottom: 1px solid lightgrey;
	color: lightgrey;
}

.accordion .panel-default {
    border: 0;
}

/** Address boxes **/
.border-left {
	border-radius: 5px 0 0 5px;
}

/** Autocompletar **/
ul.ui-autocomplete {
    padding: 5px;
    margin: 5px;
    max-height: 400px;
    overflow-x: hidden;
    overflow-y: scroll;
    max-width: 500px;
}

.ui-autocomplete li.ui-menu-item {
    background: white;
    width: 500px;
    padding: 0 0 0 5px;
    margin: 0 0 0 -5px;
    list-style: none;
	cursor:pointer;
}

/** Bug al acortar la ventana, la selección se muestra por pantalla en un sitio aleatorio...*/
.ui-helper-hidden-accessible div {
    display: none;
}

/** Mensajes de alerta **/
.noty_type_error { background-color: #ff5722; color: #ffffff; }
.noty_type_success { background-color: #212d8a; color: #ffffff; }

 #noty_topRight_layout_container, #noty_topLeft_layout_container {
    top: 10px !important;
}

.text-info {
		color: #212d8a !important;
}

.cursor-pointer{
	cursor: pointer;
}

.input-group-text { border-radius: 0px; }
#searchform .input-group-text { background-color: transparent; border: 1px solid #e6ecf5;  border-radius: 0px; line-height: 1.8; border-right: 0;}
#searchform .input-group-text .btn { margin: 0px; padding: 0px; background-color: transparent; }


.input-group {
    width: inherit;
}

select.form-control:not([size]):not([multiple]) {
    height: auto;
		height: 40px;
}

.button-close-right {
	position: absolute;
	top: 5;
	right: 20;
	font-size: 25px;
	cursor: pointer;
}

.btn-info:not(:disabled):not(.disabled):active, .btn-info:not(:disabled):not(.disabled).active, .show > .btn-info.dropdown-toggle {
    color: #fff;
    background-color: #0d8ad6;
    border-color: #0d8ad6;
}

.btn-info {
    background-color: #212d8a;
    border-color: #212d8a;
    color: #ffffff;
}

.btn-danger {
    color: #ffffff;
    background-color: #ff5722;
    border-color: #ff5722;
}

.btn-danger:hover, .btn-danger:focus {
    color: #ffffff;
    background-color: #ff764b;
    border-color: #ff764b;
}

.panel-collapse {
    border: 1px solid #eee;
    border-radius: 5px;
    padding-top: 20px;
	margin-top: 5px;
	background-color: white;
}

td.day {
	font-weight: bold;
}

td.day.disabled{
	font-weight: 300;
}

.ui-dialog {
    z-index: 1000;
}

.nuevo-mensaje {
background-color:#f7f7f7;

}
.nuevo-mensaje .panel-heading.text-info, .nuevo-mensaje .panel-collapse, .nuevo-mensaje .panel {
	background-color:#f7f7f7;
}

.embededView table, .sz-table {
	font-size: 0.8rem;
}

.embededView {
	overflow: auto;
}

.sz-table .odd {
    background-color: #f6f7fb !important;
}

.action-disabled, .action-disabled i{
	cursor:not-allowed;
	background-color:#e9ecef;
}
.action-disabled i {
	color: grey;
}

.action-enabled {
	background-color:white;
}
.action-enabled.submit-traduccion{
		color:#2fad2e;
}
.action-enabled.undo-traduccion{
		color:#ff3c7e;
}

/* Mejoras estilos bloques de formularios */
fieldset {
	background-color: #fbfcff;
	border: 1px #f6f7fb solid;
	margin: 0px;
    padding: 20px;
    margin-bottom: 20px;
}

fieldset .form-control[readonly], fieldset .form-control:disabled {
 	background-color: transparent;
	-webkit-appearance: none;
	-moz-appearance: none;
	text-indent:1px;
}

.form-control[readonly], .form-control:disabled {
	-webkit-appearance: none;
	-moz-appearance: none;
	text-indent:1px;
}

.taskLine {
	border-bottom: 1px solid lightgrey;
    margin-bottom: 20px;
	padding-bottom: 8px;
}

.document-navigator {
	background-color:#fbfcff;
	border-radius:5px;
}
.document-navigator i {
	cursor:pointer;
	color:#5c5d5c;
}

.document-navigator i.navigator-disabled{
	cursor:not-allowed;
	color:lightgrey;
}


.button-close-right-window {
    position: absolute;
    top: -5;
    right: 20;
    font-size: 25px;
    cursor: pointer;
}

textarea.form-control.shorttextarea {
    min-height: 50px !important;
}



.hiddenTitleBigScreen {
	display: none;
}

@media (max-width: 800px) {
	.hiddenTitleBigScreen {
		display: block;
	}
}


.dataTables_wrapper .dataTables_paginate .paginate_button {
	padding:0 !important;
	margin-right:0px !important;
}

.dynamic-datatable {
	width:100%;
}

.dynamic-datatable tbody a {
	color: #5c5d5c;
}

.dynamic-datatable tbody a:hover {
	color: #ffffff;
}

.dynamic-datatable tbody tr:hover, .dynamic-datatable tbody tr:hover a{
	background-color: rgb(234, 124, 0);
  color: #ffffff !important;
  cursor: pointer;
}

.page-link {
	color: #515365 !important;
}

.page-item.active .page-link{
	background-color:#212d8a;
	border-color: #212d8a;
	color: #ffffff !important;
}

.dynamic-datatable {
	width:100% !important;
	border-top:white;
	clear:both;
	margin-top:50px !important;
	border-left: 0px;
}

.dynamic-datatable thead tr:first-of-type, .dynamic-datatable thead tr:first-of-type th {
	border-color:white;
	background-color:white;
}

.dynamic-datatable th, .dynamic-datatable td {
    border-left-width: 1px !important;
}

table.dataTable.dynamic-datatable {
    border-collapse: collapse !important;
}

.dataTables_length {
	float:left;
}

.dataTables_filter{
	float:right;
	margin-bottom:30px;
}

.filterIcon {
	position: relative;
    right: 24px;
	color: #e6ecf5;
}

input.filter {
    padding-right: 30px;
}

.dt-buttons {
	float:right;
	margin-left:10px;
}

.search-icon{
	border:1px solid #e6ecf5;
	border-right:none;
    padding: 9px;
    margin-right: -7px;
    padding-bottom: 10px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.buttons-collection{
	background-color: #ffffff;
	color:#5c5d5c;
	border:none;
}

.dt-button-collection{
		left:-93px !important;
}

.slider-primary{
	font-size:4em !important;
	font-weight: bold;
}
.slider-secondary{
	font-size:2em !important;
	font-weight: bold;
}

@media (max-width: 768px) {
	.dt-buttons {
		width: auto !important;
    clear: both !important;
    float: right !important;
	}
	.dataTables_filter{
		float:left;
	}
}


#lang-selector-sm > li {
	list-style-type:none;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.szt-option-cell{
	text-align:center;
	vertical-align:middle !important;
}

/* Correcciones márgenes mobile */
@media (max-width: 768px) {
	.mr-md-5, .mx-md-5 {
		margin-right: 1rem !important;
	}
	.ml-md-3, .mx-md-3 {
		margin-left: 1rem !important;
	}
	.button-close-right {
		right: 2rem;
	}
}

.selectize-control.multi .selectize-input [data-value].disabled-option {
	background-color: #FF9675;
  color: /*#ff5722*/#AA2900;
	font-weight: 500;
  /*background-image: none;
  border: 0px;
  border-radius: 50px;
  margin-right: 8px;
  margin-bottom: 6px;
  padding: 0px 10px;
  box-shadow: none;
  text-shadow: none;
  font-weight: 500;*/
}
.selectize-control.plugin-remove_button [data-value].disabled-option .remove {
	border-left: 1px solid #fff;
}

.selectize-control.plugin-remove_button [data-value].disabled-option {
	color: #ff5722;
}

.documentStatusTitle {
	float: right;
	font-size: medium;
	color: rgb(234, 124, 0);
	margin-top: 7px;
}

@media (max-width: 768px) {
	.documentStatusTitle {
		margin-top: 15px;
		padding-bottom: 5px;
		width: 100%;
		font-size: small;
	}
}

.form-group-time {
    display: inline-flex;
}
.form-group-time input {
    height: 35px;
	min-width: 50px;
}
.form-group-time label {
	display: inline-block;
    vertical-align: top;
    border: 1px solid #e6ecf5;
    border-left: none;
    line-height: 35px;
    padding: 0 10px;
    height: 35px;
    box-sizing: border-box;
    margin-right: 10px;
    color: #888da8;
}

.form-group-time input {
    border: 1px solid #e6ecf5 !important;
	padding: 0 0 0 10px !important;
}

.spinner-grow {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    vertical-align: text-bottom;
    border: 0.25em solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
	-webkit-animation: spinner 1500ms infinite linear;
	-moz-animation: spinner 1500ms infinite linear;
	-ms-animation: spinner 1500ms infinite linear;
	-o-animation: spinner 1500ms infinite linear;
	animation: spinner 1500ms infinite linear;
}


/* Botones responsive (y ajustes responsive para móvil) */
span.btn-image {
	margin: 5px;
	display:none;
}

@media (max-width: 768px) {
	span.btn-image {
		display: inline;
	}
	span.btn-text {
		display: none;
	}

	.btn-responsive {
		padding: 9px 15px;
	}

	div.dataTables_wrapper div.dataTables_paginate {
		margin-top: 15px !important;
	}
}

@media (max-width: 500px) {
	table.dataTable.dynamic-datatable {
		font-size: 0.95em;
	}
}


/* Fin Botones responsive */

/* Estilos para listados con scroll infinito */
.scroll-container {
	width: 100%;
	height: 100%;
	background-color: white;
	overflow-y: scroll;
	position: relative;
	-ms-touch-action: pan-y;
  	touch-action: pan-y;
}

.scroll-list-element {
	margin: 0 10px 40px;
    padding: 20px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    width: 300px;
    display: inline-block;
	vertical-align: top;
}

#searchInput {
	display: inline-block;
    height: 35px;
}
#scroll-load-more {
	cursor: pointer;
	color: #cad0d9;
    font-style: italic;
}

/* Fin Estilos para listados con scroll infinito */

/* Estilos módulo de avatares */
.user-avatar-module {
    width: 35px;
    height: 35px;
    border-radius: 25px;
    position: relative;
    border: 1px solid white;
    z-index: 0;
    margin-right: 5px;
	margin-bottom: 5px;
}
/* Fin estilos módulo de avatares */

.content-footer .copyright {
	float: left;
}
.content-footer .userfooter {
	float: right;
}

/* Estilos para tablas más compactas */
table.table-small {
	font-size: 0.8rem;
}

table.table-small th, table.table-small td {
	padding: 0.4rem;
	line-height: 1.2;
}
table.table-small > tbody > tr > td, table.table-small > tbody > tr > th, .table > tfoot > tr > td, 
table.table-small > tfoot > tr > th, table.table-small > thead > tr > td, table.table-small > thead > tr > th {
	line-height: 1.2;
}

.table-small table > tbody > tr > td, .table > tbody > tr > th, .table-small .table > tfoot > tr > td,
.table-small  .table > tfoot > tr > th, .table-small .table > thead > tr > td, .table-small .table > thead > tr > th {
	line-height: 1.2;
}

.table-small table {
	font-size: 0.8rem;
}

.table-small table th, .table-small table.table-small td {
	padding: 0.4rem;
	line-height: 1.2;
}

/* Personalización estilos anexos carrousel */
.pswp img {
    max-width: none;
    object-fit: contain;
}
.gallery-item .overlay .overlay-content {
    padding: 10px;
	top: 0px;
	bottom: unset;
}
.pswp__error-msg {
	width: 100% !important;
	height: 100% !important;
}
.isNoImage .gallery-item .overlay {
    opacity: 1;
    visibility: visible;
}
.gallery-item .overlay .overlay-content .caption-title {
    font-size: 0.8rem;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 80%;
    overflow-wrap: normal;
}
.gallery-item .overlay .overlay-content .caption-date {
	text-overflow: ellipsis;
    overflow: hidden;
    width: 80%;
    overflow-wrap: normal;
}
.gallery-item {
    overflow: hidden;
}
.img-fluid-custom {
    height: 180px;
}
.bloque-anexos .an-card-content a.gallery-item {
    text-decoration: none;
    color: #5c5d5c;
}
.gallery-item .caption-title {
    margin-bottom: 5px;
    font-weight: bold;
}
.img-fluid-info {
    margin-top: 5px;
	border-top: 1PX SOLID lightgrey;
    padding-top: 5px;
    text-align: left;
}

@media (max-width: 768px) {
	.img-fluid-custom {
		height: auto;
		max-width: 100%;
	}
}
/* Fin personalización estilos anexos carrousel */