/* Estilos para imprimir */

#datosprint {
    background-color: white;
}

h4 {
    font-size: 14px;
    border-bottom: 1px solid lightgrey;
    margin-top: 10px;
    margin-bottom: 10px;
}

.selectize-control.single .selectize-input:after {
    content: '' !important;
}

.selectize-control.single .selectize-input {
    border: 0 !important;
    color: #686868 !important;
    padding: 0px;
}

.selectize-input input {
    color: #686868 !important;
}

fieldset {
    background-color: white;
    border: 0px !important;
    margin: 0px;
    padding: 0px;
}

.form-control.input-lg {
    height: 20px;
}

fieldset .form-control[readonly], fieldset .form-control:disabled, 
#datosprint .readonly, #datosprint .disabled {
    color: #686868 !important;
}

.mt-3 {
  margin-top: 0px !important;
}
.mb-3 {
  margin-bottom: 0px !important;
}
.pt-3{
  padding-top: 0px !important;
}
.pb-3 {
  padding-bottom: 0px !important;
}

.panel-collapse {
  border: 0px;
  padding-top: 0px;
}

.card-historial {
  overflow-y: inherit;
  height: fit-content;
  max-height: fit-content;
  font-size: 0.89em;
}

.accordion .panel-default > .panel-heading {
  display: none;
}
.accion-usuario, .accion-historial {
  font-weight: normal;
}

.accordion .panel-default > .panel-heading + .panel-collapse > .panel-body {
  padding: 0px;
}

a, a.lnkCeldaTabla, a.lnkCeldaTabla:link {
  color: #686868 !important;
  font-weight: normal;
  cursor: default !important;
}

@media print {
  #datosprint .documentStatusTitle {
    width: revert;
    margin-top: 7px;
    padding-bottom: 0px;
  }

    #formAccionesTop, #closebutton, #formAccionesBottom {
        display: none !important;
    }

    .col-md {
      -ms-flex-preferred-size: 0;
      flex-basis: 0;
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      max-width: 100%;
    }

    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        float: left!important;
      }
      .col-md-12 {
        width: 100%;
      }
      .col-md-11 {
        width: 91.66666666666666%;
      }
      .col-md-10 {
        width: 83.33333333333334%;
      }
      .col-md-9 {
        width: 75%;
      }
      .col-md-8 {
        width: 66.66666666666666%;
      }
      .col-md-7 {
        width: 58.333333333333336%;
      }
      .col-md-6 {
        width: 50%;
      }
      .col-md-5 {
        width: 41.66666666666667%;
      }
      .col-md-4 {
        width: 33.33333333333333%;
      }
      .col-md-3 {
        width: 25%;
      }
      .col-md-2 {
        width: 16.666666666666664%;
      }
      .col-md-1 {
        width: 8.333333333333332%;
      }
}