/* This file skins dialog */
.ui-dialog
{
	background-color: #ffffff;
	border: 1px solid #a8abad;
}

.ui-dialog .ui-dialog-titlebar
{
	border-bottom: 1px solid #a8abad;
	background-color: white;
	padding: 0px;
	height: 34px;
}

.ui-dialog.ui-draggable .ui-dialog-titlebar,
.ui-dialog.ui-draggable.ui-dialog-titlebar {
	cursor: move;
}

.ui-dialog .ui-dialog-titlebar-close,
.ui-dialog.ui-dialog-titlebar-close
{
	position:absolute;
	top: 3px;
	right: 7px;
	cursor: default;
}

.ui-dialog .ui-dialog-titlebar-close:before,
.ui-dialog.ui-dialog-titlebar-close:before{
	content: "x";
}


.ui-dialog .ui-dialog-titlebar-close span
{
	display: none;
}

.ui-dialog .ui-dialog-titlebar-close-hover
{
	cursor: pointer;
}

.ui-dialog .ui-dialog-title
{
	margin-left: 5px;
	font-size: 12px;
	color: #5d5e5f;
	font-weight: bold;
	position: relative;
	top: 7px;
	left: 4px;
}

/* FJRP */
.ui-dialog .ui-dialog-content
{
	overflow: auto;
	height: 80%;
	margin: 0 3px;

}

.ui-dialog .ui-dialog-buttonpane
{
	position: absolute;
	bottom: 8px;
	right: 12px;
	width: 90%;
	text-align: center;
}

.ui-dialog .ui-dialog-buttonpane button
{
	font-size: 11px;
	margin-top: 3px;
	margin-bottom: 3px;
	margin-right: 3px;
	cursor: pointer;
	padding:0 .25em 0 .25em;
	width:auto;
	overflow:visible;
}
